rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Access is mediated via Cloud Functions in phase 1.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
